{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section>
        <div class="container" style="margin-top: 3em;">
            <div class="row">
                <div class="col-md-8">
                    <table class="table table-hover">
                        <th>Domains Urls </th>
                        {% for article in articles %}
                        <tr>
                            <td>{{ article.content | raw }}</td>
                            <td><a class="btn btn-success btn-small" id="screen" href="{{ path('blog.showBundle', {id:article.id}) }}">jpg</a></td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <div class="container" style="padding:1em;background: rgba(222,222,222,0.88);">
                        <p>enter domain( sans mettre d'espaces au debut ): </p>
                        <input class="form-control" type="text" id="url" placeholder="xvideos.com">
                        <span id="msg" style="color:red; font-size:12px;"></span> <br/>
                        <img src="" style="padding: 1em;">
                        <div class="container">
                            <button id="url2img" class="btn btn-success btn-small">Ajax</button>
                        </div>
                    </div>

                    <p><a href="https://github.com/rom-23/domaintest">Github Code source</a></p>
                </div>
            </div>


        </div>
    </section>

{% endblock %}
