{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-8">
                    <table class="table table-hover table-sm">
                        <thead>
                        <th>Domains List </th>
                        <th>Actions </th>
                        </thead>
                        {% for article in articles %}
                        <tr>
                            <td>{{ article.content | raw }}</td>
                            <td><a class="btn btn-success btn-sm" id="screen" href="{{ path('blog.showBundle', {id:article.id}) }}">View</a>
{#                                <a class="btn btn-success btn-sm" id="screen" href="{{ path('blog.openJpg', {id:article.id}) }}">open jpg</a>#}
                           </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-md-4">
                    <div class="container p-3" style="background: rgba(230,230,230,0.7);">
                        <p>Entrez une Url (sans espaces au debut): </p>
                        <input class="form-control" type="text" id="url" placeholder="xvideos.com">
                        <span id="msg" class="text-danger"></span> <br/>
                        <img class="img-fluid" alt="" src="">
                        <div class="container text-center pt-3">
                            <button id="url2img" class="btn btn-success btn-sm">With Ajax</button>
                        </div>
                    </div>
                    <div class="container p-5">
                        <a href="https://github.com/rom-23/domaintest"> >>> Code du projet sur GitHub ;)</a>
                    </div>
                    <div class="container p-3" style="background: rgba(230,230,230,0.7);">
                        <p>Entrez n'importe quelle Url :</p>
                    <form method="post" action="{{ path('blog.showQuick')}}">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="xvideos.com" name ="search">
                         <div class="container text-center pt-3">
                             <p>( Meme principe que le bouton 'View', mais affiche le site avec le javascript, donc un peu plus long mais le rendu est différent... ) </p>
                            <button type="submit" class="btn btn-success btn-sm">With Symfony</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
