{% extends 'base.html.twig' %}

{% block body %}
  <section>
        <div class="container mt-5">

                <div class="col-md-8">
<img class="img-thumbnail" src="{{ asset(test) }}" alt=""/>
                </div>
            </div>
        </div>
  </section>

{% endblock %}

{% block title %}

{% endblock %}

