{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="thumbnail-container">

            <div class="thumbnail">
                {% if urlToScreen is empty %}
                    <p>pas d'images</p>
                {% else %}
                    <iframe src="{{ urlToScreen }}"></iframe>
                {% endif %}
            </div>
        </div>
        <div class="container">
            {% if screenSh is empty %}
                <p>pas d'images</p>
            {% else %}
                <img src="data:image/jpeg;base64,{{ screenSh }}"/>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block title %}
{% endblock %}

